@font-face {
    font-family: 'Roboto';
    src: url(../src/fonts/Roboto/Roboto-Regular.ttf);
}

.appContainer {
    background-image: url('../public/Images/background-img.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', Arial, sans-serif;
    
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.appContainer::-webkit-scrollbar{
    background-color: rgb(192, 192, 192);
}

.appContainer::-webkit-scrollbar {
    width: 0.75vw; 
    }
    
.appContainer::-webkit-scrollbar-thumb {
    background: rgb(92, 74, 58); 

   
}
    


